fastapi==0.110.0
uvicorn==0.29.0
python-multipart==0.0.9
matplotlib==3.8.4
pandas==2.2.2
numpy==1.26.4
scikit-learn==1.4.1.post1
seaborn==0.13.2
torch==2.1.2
torchvision==0.16.2
torchaudio==2.1.2
tqdm==4.66.1
joblib==1.4.2
websockets==12.0